body {margin: 0;
  padding: 0;}

h2, p {margin: 10px;}

ul {list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to right, #007c92, #50e5ff);}

ul li {float: left;}

ul li a {display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;}

ul li a:hover {background-color: #005a69;
              color: white;}