table {
    width: 250px;
    height: 50px;
    color: white;
    font-family: arial;
    font-size: 10px;
    border-radius: 30px;
    background: linear-gradient(to right, #007c92, #27c9e6);
    transition: transform 0.4s;
    border-collapse: collapse;
    display: inline-table;
    margin: 5px;}

table:hover {
    transform: scale(1.1);}

td { text-align: center;
    vertical-align: middle;
    padding: 10px;}

a { text-decoration: none;
    color: white;}